@import "reset";
@import "variables/global";
@import "themes/primary";
@import "themes/dark";

html,
body,
.storybook {
  color: var(--secondary-color);
  font-size: var(--font-size-m);
  font-family: var(--font-family-primary);
  background: var(--bg-color);
}

html {
  cursor: pointer;
}

body{
  max-height: calc(100vh - var(--header-height));
  overflow: overlay;
  cursor: default;
}

.storybook {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.page {
  z-index: var(--page-z-index);
  width: 100%;
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  padding: 25px;
  overflow-y: scroll;
}

h1 {
  font-size: var(--font-h1-size);
}

h2 {
  font-size: var(--font-h2-size);
}

h3 {
  font-size: var(--font-h3-size);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);

  &:hover {
    background-color: var(--gray);
  }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}