.LoginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.formTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.inputField {
  margin: 20px 0;
}

.error {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--error-color);
}

.errorIcon {
  width: 30px;
  height: 30px;
  fill: var(--error-color);
}

.errorMessage {
  flex: 1;
}
