:root {
  // FONT
  --font-family-primary: mariupol;
  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-h1-size: 96px;
  --font-h2-size: 72px;
  --font-h3-size: 48px;

  // RADIUSES
  --default-radius: 25px;

  // SIZES
  --header-height: 60px;
  --profile-background-height: 300px;

  // DEFAULT COLORS
  --white: rgb(240 240 240);
  --black: rgb(29 29 29);
  --light-gray: #ddd;
  --gray: #999;
  --dark-gray: #333;
  --overlay-color: rgb(0 0 0 / 60%);
  --success-color: #00ff1a;
  --error-color: rgb(247 84 84);
  --error-background: rgb(156 18 18 / 39.7%);

  // TRANSITIONS
  --default-transition: 0.3s ease;
  --modal-overlay-transition: 0.2s ease;
  --modal-content-transition: 0.5s ease;

  // Z-INDEXES
  --modal-z-index: 50;
  --popup-z-index: 20;
  --page-z-index: 0;
}

@font-face {
  font-weight: 400;
  font-family: Mariupol;
  src: url("shared/assets/fonts/Mariupol-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Mariupol;
  src: url("shared/assets/fonts/Mariupol-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Mariupol;
  src: url("shared/assets/fonts/Mariupol-Bold.ttf");
}
