.LanguageSwitcher {
  position: relative;
}

.languageOptions {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  &.mobile {
    top: -450%;
    left: -26px;
    min-width: 200px;
    border-radius: 0;
    border-top-right-radius: 10px;
  }
}

.dropdownIcon {
  transition: 0.2s linear;
  fill: var(--secondary-color);
}

.selectedOption {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--secondary-color);
  border-bottom: none;

  .dropdownIcon {
    rotate: 0deg;
  }

  &:hover {
    cursor: pointer;
  }
}

.selectedOptionActive {
  .dropdownIcon {
    rotate: 180deg;
  }
}
