.Sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  overflow: hidden;
  animation: start 0.3s ease 0s;
  height: calc(100vh - var(--header-height));
  background-color: var(--bg-color);
  top: var(--header-height);
  transform-origin: bottom;
  left: 0;

  a {
    width: 100%;
    padding: 25px;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
    font: var(--font-xl);
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    width: 100%;
    position: absolute;
    padding: 25px;
    bottom: 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile {
  width: 32px;
  height: 32px;
  background-color: #ccc;
  border-radius: 20px;
}

@keyframes start {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
