.UserMenuOption {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-color);

  &:hover {
    background-color: var(--border-color);
    cursor: pointer;
  }

  &:last-child {
    border-bottom: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.optionIcon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color);
}

.label {
  flex: 1;
}
