.UserMenu {
  position: relative;
  z-index: var(--popup-z-index);

  &:hover {
    cursor: pointer;
  }
}

.userInfoBlock {
  display: flex;
  gap: 7px;
  align-items: center;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: var(--light-gray);
  font-weight: 500;
  background: var(--primary-gradient);
  border-radius: 50%;
}

.userMenuOptions {
  position: absolute;
  top: 40px;
  right: 0;
  min-width: 170px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dropdownIcon {
  transition: 0.3s ease;
  fill: var(--secondary-color);
}

.optionsOpened {
  .dropdownIcon {
    rotate: 180deg;
  }
}
