.Button {
  font-size: var(--font-size-m);
  font-family: var(--font-family-primary);
  white-space: nowrap;
  border: none;
  outline: none;
  transition: 0.2s ease;

  &:hover {
    cursor: pointer;
  }
}

.primary {
  padding: 15px 20px;
  color: var(--secondary-color-inverted);
  font-weight: 500;
  background: var(--primary-gradient);
  border-radius: 50px;

  &:hover {
    filter: hue-rotate(60deg);
  }
}

.clear {
  color: var(--secondary-color);
  background: none;

  &:hover {
    color: var(--primary-color);
  }
}

.disabled {
  filter: grayscale(90%);

  &:hover {
    cursor: default;
    filter: grayscale(90%);
  }
}

.outlined{
  padding: 10px 20px;
  color: var(--secondary-color);
  background: none;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;

  &:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.filled {
  padding: 10px 20px;
  color: var(--black);
  background-color: var(--white);
  border-radius: 10px;

  svg {
    transition: .2s ease;
    fill: var(--black);
  }

  &:hover {
    background-color: var(--light-gray);
  }
}