.Button {
  font: var(--font-m);
  transition: 0.2s ease;
  outline: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.primary {
  border-radius: 50px;
  padding: 10px 15px;
  font: var(--font-m-medium);
  background: var(--primary-gradient);
  color: var(--secondary-color-inverted);

  &:hover {
    filter: hue-rotate(60deg);
  }
}

.clear {
  background: none;
  color: var(--secondary-color);

  &:hover {
    color: var(--primary-color);
  }
}

.disabled {
  filter: grayscale(90%);

  &:hover {
    filter: grayscale(90%);
    cursor: default;
  }
}
