.PageError {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-weight: 700;
  font-size: var(--font-size-xl);

  &.dark {
    color: var(--white);
    background-color: var(--black);
  }

  &.primary {
    color: var(--black);
    background-color:var(--white);
  }
}
