.Input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.inputField {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  color: var(--secondary-color);
  background: transparent;
  border: solid 1px var(--border-color);
  border-radius: var(--default-radius);
  outline: none;
  transition: border-color 0.2s ease;
}

.inputField:-webkit-autofill,
.inputField:-webkit-autofill:hover,
.inputField:-webkit-autofill:active {
  border-color: var(--autofill-border-collor);
  box-shadow: 0 0 0 50px var(--bg-color) inset;
  -webkit-text-fill-color: var(--secondary-color);
}

.inputField:-webkit-autofill:focus {
  border-color: var(--primary-color);
}

.inputLabel {
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 2;
  padding: 0 10px;
  color: var(--gray);
  font-size: var(--font-size-m);
  background: var(--bg-color);
  transform: translateY(-50%);
  cursor: text;
  transition: all 0.2s ease;
  pointer-events: none;
}

.inputField:focus + .inputLabel,
.inputField:not(:placeholder-shown) + .inputLabel {
  top: 0;
  font-size: 12px;
}

.inputField:focus + .inputLabel {
  color: var(--primary-color);
}

.inputField:focus {
  border-color: var(--primary-color);
  outline: none;
}
