.ThemeSwitcher {
  display: flex;
  align-items: center;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 0%);
  box-shadow: 1px 1px 6px -4px var(--secondary-color) inset;
  position: relative;
  border: none;

  &.primary {
    .switch {
      margin-left: 0;
    }
  }

  &.dark {
    .switch {
      margin-left: 100%;
      transform: translateX(-100%);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 26px;
  width: 26px;
  border-radius: 10px;
  background: var(--primary-gradient);
  box-shadow: 1px 1px 6px -4px var(--secondary-color) inset;
  transition: var(--default-transition);
  border: 1px solid var(--border-color);

  .icon {
    width: 16px;
    height: 16px;
    fill: var(--secondary-color-inverted);
  }
}
