.app_theme_dark {
  --bg-color: rgb(29 29 29);
  --primary-color: rgb(129 209 204);
  --secondary-color: rgb(240 240 240);
  --secondary-color-inverted: rgb(29 29 29);
  --border-color: var(--dark-gray);
  --gradient-color-1: var(--primary-color);
  --gradient-color-2: rgb(115 32 179 / 100%);
  --autofill-border-collor: var(--gray);
  --primary-gradient:
    linear-gradient(
      100deg,
      var(--gradient-color-1) 0%,
      var(--gradient-color-2) 100%
    );
}
