.app_theme_primary {
  --bg-color: var(--white);
  --primary-color: #f17fea;
  --secondary-color: var(--black);
  --secondary-color-inverted: var(--white);
  --border-color: var(--light-gray);
  --gradient-color-1: var(--primary-color);
  --gradient-color-2: rgb(115 32 179 / 100%);
  --autofill-border-collor: var(--light-gray);
  --scrollbar-thumb-color: #bbb;
  --primary-gradient:
    linear-gradient(
      100deg,
      var(--gradient-color-1) 0%,
      var(--gradient-color-2) 100%
    );
}
