:root {
  --font-family-primary: Mariupol-Regular;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-size-m) var(--font-family-primary);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-size-l) var(--font-family-primary);
}

@font-face {
  font-family: 'Mariupol-Regular';
  src: url('/src//assets/Mariupol-Regular.ttf');
}
