.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  padding: 0 25px;
  position: relative;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  transition: var(--default-transition);
}

.logo {
  font: var(--font-l-bold);
  font-weight: 300;

  span {
    font: var(--font-l);
  }
}
